@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto+mono|Raleway|Julius+Sans+One");
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.App-content {
  flex: 1 0 auto;
  padding: var(— space) var(— space) 0;
  width: 100%; }

.App-content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var(— space);
  height: 0;
  visibility: hidden; }

#title {
  display: flex;
  justify-content: center;
  color: #E9F1F7;
  font-family: "Julius Sans One", sans-serif;
  font-size: 80px; }

body {
  font-family: 'PT Sans', sans-serif;
  background: -webkit-linear-gradient(rgba(19, 27, 35, 0.1), rgba(19, 27, 35, 0.1)), url("/img/bar.jpg") repeat;
  background-position: 0 auto;
  background-size: 0/50% auto;
  height: 350px; }

#NavFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 90px;
  background-color: #5B8B9E;
  font-family: "Montserrat", sans-serif !important;
  color: #fff; }
